{% extends "journal/base.html" %}
{% load humanize %}
{% block content %}
<h2 style="color:Tomato;">MY JOURNALS </h2>

<div >
    <a href="{% url 'createjournal' %} "><button class="btn btn-primary" type = "submit">Add a New Journal</button></a>
    
</div>
<div>
   {% for journal in journal_list %}
   <div class="list-group">
      <a href=" " class="list-group-item list-group-item-action flex-column align-items-start">
         <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ journal.title }}</h5>
           
            <small>{{ journal.date_created|naturaltime }}</small>
            
         </div>
         <p class="mb-1">{{ journal.description| truncatechars:120}}</p>
      </a>
      
   </div>
   <a href="{% url 'updatejournal' journal.id %} "><button class="btn btn-primary" type = "submit">Update</button></a>
   <a href="{% url 'deletejournal' journal.id %} "><button class="btn btn-danger" type = "submit">Delete</button></a>

   {% endfor %}
   {% endblock %}
</div>